@media screen and (max-width:766px) {
    nav{
        flex-direction: column;
        
    }
    nav .nav-right{
        margin-top: 20px;
    }
    .nav-service{
        flex-direction: column;
       justify-content: center;
    }
    .left-side{
        grid-template-columns: repeat(1,1fr);
    }
    .right-side{
        margin-top: 20px;
    }
}
@media screen and (min-width:766px) and (max-width:976px){
    nav{
        flex-direction: column;
        
    }
      nav .nav-right{
        margin-top: 20px;
    }
    nav .nav-right{
        margin-top: 20px;
    }
      .nav-service{
        flex-direction: column;
       justify-content: center;
}
.img{
    gap:50px
}
 .right-side{
        margin-top: 20px;
      
    }
    
}